* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #e50914;
    --preto: rgb(22, 22, 22);
}

body {
    color: #fff;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22);
}

.imagem-body {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)100%), url(../img/background-netflix-login.jpg);
    background-size: cover;
    height: 95vh;
}

.container-header {
    display: flex;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.container-left {
    margin-right: 2rem;
}

.container-left img {
    cursor: pointer;
}

.container-left img:hover {
    filter: brightness(200%);
    filter: contrast(200%);
}

.container-right {
    display: flex;
    box-sizing: border-box;
    width: 200px;
}

.container-right a {
    border-style: none;
    background-color: var(--red);
    padding: 0.5rem 1.2rem;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.container-right a:hover {
    filter: brightness(200%);
    filter: contrast(200%);
}

.container-body {
    width: 100%;
    height: 60vh;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-text {
    text-align: center;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-text p {
    font-size: 24px;
}

.container-text h2 {
    font-size: 4rem;
}

.box-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
}

.box-email-input {
    width: 70%;
    max-height: 80px;
}

.box-email input {
    height: 100%;
    width: 100%;
    border-radius: 0.15rem;
    border-style: none;
    padding: 15px;
}

.box-email button {
    border-style: none;
    background-color: var(--red);
    font-size: 100%;
    padding: 1rem 2rem;
    color: #fff;
}

.box-email button:hover {
    filter: brightness(200%);
    filter: contrast(200%);
    cursor: pointer;
}

.container-section {
    border-top: 10px solid var(--preto);
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}
.imagem-section {
    width: 500px;
}

.imagem-section img {
    width: 100%;
    height: 100%;
}

.img-fmt {
    padding-bottom: 25px;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-wrap h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section-wrap p{
    font-size: 1.5rem;
}

.container-questions {
    border-top: 10px solid var(--preto);
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2.5rem;
}

#padding-section {
    padding-bottom: 40px;
    border-bottom: 10px solid var(--preto);
}

.container-questions h3 {
   font-size: 3rem;
   margin-bottom: 25px;
}

.box-questions {
    font-size: 1.6rem;
    width: 100%;
    background-color: rgb(46, 46, 46);
    margin-bottom: 1rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 840px) {
    .container-text h2 {
        font-size: 3rem;
    }

    .text-section {
        width: 80%;
        margin-bottom: 25px;
    }

    .section-wrap h3 {
        margin-top: 25px;
        font-size: 2rem;
        text-align: center;
    }

    .imagem-section {
        margin-bottom: 25px;
    }

    .rodape-links {
        height: 60%;
    }
}

@media (max-width: 620px) {
    .container-text h2 {
        font-size: 2rem;
    }

    .imagem-section {
        width: 400px;
    }

    .section-wrap h3 {
        padding-top: 25px;
        font-size: 1.8rem;
    }

    .container-left a {
        width: 100%;
    }

    .container-left img {
        width: 100%;
        max-height: 45px;
        height: 100%;
    }

    .box-questions p {
        font-size: 14px;
        margin-right: 8px;
    }

    .box-email-input {
        margin-bottom: 15px;
    }

    .container-questions h3 {
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    .container-text p{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .container-questions h3 {
        font-size: 1.7rem;
        text-align: center;
    }
}

